<div>
    <form action="/login" method="post">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Contraseña" name="password">
        <button type="submit">LOGIN</button>
    </form>
</div>