<div>
    {{#if access}}
    <div class="formContainer">

        <h3>CREAR PRODUCTO NUEVO</h3>
        <form id="createNewProductFrom">
            <label>NOMBRE</label>
            <input required placeholder="NOMBRE DEL PRODUCTO" name="title" type="text">
            <label>DESCRIPCION</label>
            <textarea required placeholder="DESCRIPCIÓN" name="description"></textarea>
            <label>IMAGEN</label>
            <input required placeholder="MINIATURAS" name="thumbnail" type="text">
            <label>STOCK</label>
            <input required placeholder="STOCK" name="stock" type="number">
            <label>PRECIO</label>
            <input required placeholder="PRECIO" name="price" type="number">
            <label>CODIGO</label>
            <input required placeholder="CÓDIGO DE PRODUCTO" name="code" type="number">
            <label>CATEGORIA</label>
            <input required placeholder="CATEGORÍA" name="category" type="text">
            <label>STATUS</label>
            <input name="status" type="checkbox">
            <button class="greenButton" type="submit">CREAR PRODUCTO</button>
        </form>
    </div>
    {{/if}}
    <p id="messageParagrahp"></p>
    <div id="productsContainer" class="productsContainer">

    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>