{{#if products}}
<div class="productsContainer">
    {{#each products}}
    <div class="productCard">
        <h3>{{title}}</h3>
        <p>
            {{description}}
        </p>
        <p>
            $ {{price}}
        </p>
        <a href="/products/{{id}}"><button class="productDetailButton">VER DETALLE</button></a>
    </div>
    {{/each}}
</div>

{{/if}}