*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.productCard{
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 150px;
    border: 1px solid red;
    gap: 5px;
}
.productDetailButton{
    cursor: pointer;
    margin-top: 5px;
    padding: 7px 12px;
    border-radius: 12px;
    background-color: bisque;
    border: 0;
}
.productDetailContainer{
    display: flex;
    justify-content: center;

}
.productDetailCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid red;
    gap: 5px;
}
.productAddToCartButton{
    cursor: pointer;
    margin-top: 5px;
    padding: 7px 12px;
    border-radius: 12px;
    background-color:brown;
    color: white;
    border: 0;
}
.formContainer{
    display: flex;
    flex-direction: column;

    padding: 15px;
    margin: auto;
    width: 300px;
    background-color: antiquewhite;
}
.formContainer > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.formContainer > form > input, textarea {
    padding: 7px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 0;
    width: 90%;
}
.greenButton{
    padding: 7px 12px;
    border-radius: 8px;
    background-color: greenyellow;
    cursor: pointer;
    margin-top: 10px;
    border: 0;
    width: 100%;
}
#messageParagrahp{
    text-align: center;
    color: red;
    font-size: 1.5em;
    margin: 15px;
}